@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@


<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from p.w3layouts.com/demos_new/template_demo/01-07-2017/my_design-demo_Free/528613908/web/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Aug 2017 15:44:24 GMT -->
<head>
    <title>myprofile</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="My Design Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Portfolio-CSS -->
    @*<link rel="stylesheet" href="css/swipebox.css" type="text/css" media="all">*@

    <link href="~/Content/swipebox.css" rel="stylesheet"  media="all"/>

    @*<link href="css/aos.css" rel="stylesheet" type="text/css" media="all" />*@<!-- //animation effects-css-->

    <link href="~/Content/aos.css" rel="stylesheet" media="all" />

    @*<link rel="stylesheet" href="css/index.css">*@<!-- skills bars CSS-->
    <link href="~/Content/index.css" rel="stylesheet" />

    <!-- custom-theme -->
    @*<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" media="all" />

    @*<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />*@
    <link href="~/Content/style.css" rel="stylesheet" media="all" />
    <!-- //custom-theme -->
    <!-- font-awesome-icons -->
    @*<link href="css/font-awesome.css" rel="stylesheet">*@
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome-icons -->
    <!-- googlefonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&amp;subset=arabic,latin-ext" rel="stylesheet">
    <!-- //googlefonts -->

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <script src='../../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../../../../www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-30027142-1', 'w3layouts.com');
  ga('send', 'pageview');
    </script>
    <script async type='text/javascript' src='../../../../../../../cdn.fancybar.net/ac/fancybar6a2f.js?zoneid=1502&amp;serve=C6ADVKE&amp;placement=w3layouts' id='_fancybar_js'></script>
    <style type='text/css'>
        .adsense_fixed {
            position: fixed;
            bottom: -8px;
            width: 100%;
            z-index: 999999999999;
        }

        .adsense_content {
            width: 720px;
            margin: 0 auto;
            position: relative;
            background: #fff;
        }

        .adsense_btn_close, .adsense_btn_info {
            font-size: 12px;
            color: #fff;
            height: 20px;
            width: 20px;
            vertical-align: middle;
            text-align: center;
            background: #000;
            top: 4px;
            left: 4px;
            position: absolute;
            z-index: 99999999;
            font-family: Georgia;
            cursor: pointer;
            line-height: 18px;
        }

        .adsense_btn_info {
            left: 26px;
            font-family: Georgia;
            font-style: italic;
        }

        .adsense_info_content {
            display: none;
            width: 260px;
            height: 340px;
            position: absolute;
            top: -360px;
            background: rgba(255,255,255,.9);
            font-size: 14px;
            padding: 20px;
            font-family: Arial;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 26px -2px rgba(0,0,0,.3);
            -moz-box-shadow: 0 1px 26px -2px rgba(0,0,0,.3);
            box-shadow: 0 1px 26px -2px rgba(0,0,0,.3);
        }

            .adsense_info_content:after {
                content: '';
                position: absolute;
                left: 25px;
                top: 100%;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #fff;
                clear: both;
            }

            .adsense_info_content #adsense_h3 {
                color: #000;
                margin: 0;
                font-size: 18px !important;
                font-family: 'Arial' !important;
                margin-bottom: 20px !important;
            }

            .adsense_info_content .adsense_p {
                color: #888;
                font-size: 13px !important;
                line-height: 20px;
                font-family: 'Arial' !important;
                margin-bottom: 20px !important;
            }

        .adsense_fh5co-team {
            color: #000;
            font-style: italic;
        }
    </style>
    <script>

    $(function() {
      $('.adsense_btn_close').click(function() {
        $(this).closest('.adsense_fixed').css('display', 'none');
      });

      $('.adsense_btn_info').click(function() {
        if ($('.adsense_info_content').is(':visible')) {
          $('.adsense_info_content').css('display', 'none');
        } else {
          $('.adsense_info_content').css('display', 'block');
        }
      });

    });

    </script>
    <body>
        <div class='adsense_fixed'>
            <div class='adsense_content'>
                <span class='adsense_btn_close' title='Hide Ads'>x</span>
                <div class='adsense_info_content'>
                    <h3 id='adsense_h3'>Why Ads?</h3>
                    <p class='adsense_p'>
                        We hope you'll understand us why we display Ads here at w3layouts. We use Ads in order for us to continue working and provide you new template every day. As we all know domain, hosting servers and designers is not free and
                        for us to pay it we have to display Ads. Thank you for Supporting Us.
                    </p>
                    <p class='adsense_p'>
                        Love,
                        <br><span class='adsense_fh5co-team'>w3layouts Team</span>
                    </p>
                </div><span class='adsense_btn_info' title='Why Ads'>i</span>
                <script async src='../../../../../../../pagead2.googlesyndication.com/pagead/js/f.txt'></script>
                <!-- ResponsiveW3layouts -->
                <ins class='adsbygoogle'
                     style='display:block'
                     data-ad-client='ca-pub-9153409599391170'
                     data-ad-slot='7722137086'
                     data-ad-format='auto'></ins>
                <script>
(adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <ins class='adsbygoogle'
                     style='display:inline-block;width:728px;height:90px'
                     data-ad-client='ca-pub-9153409599391170'
                     data-ad-slot='6850850687'></ins>
                <script>
(adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>

        <!-- banner -->
        <div class="banner" id="home">
            <div class="agileinfo-dot">
                <div class="container">
                    <!-- header -->
                    <div class="header-w3layouts">
                        <!-- Navigation -->
                        <nav class="navbar navbar-default navbar-fixed-top">
                            <div class="navbar-header page-scroll">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">My_Profile</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <h1><a class="navbar-brand" href="index.html">My Profile</a></h1>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul class="nav navbar-nav navbar-right cl-effect-15">
                                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                                    <li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
                                    <li><a class="page-scroll scroll" href="#home">Home</a></li>
                                    <li><a class="page-scroll scroll" href="#about">About</a></li>
                                    <li><a class="page-scroll scroll" href="#skills">Skills</a></li>
                                    <li><a class="page-scroll scroll" href="#education">Education & Experience </a></li>
                                    <li><a class="page-scroll scroll" href="#portfolio">Portfolio</a></li>
                                    <li><a class="page-scroll scroll" href="#contact">Contact</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                            <!-- /.container -->
                        </nav>
                    </div>
                    <!-- //header -->

                    <div class="w3_banner_info">
                        <div class="w3_banner_info_grid">
                            <h2 data-aos="fade-right">Hi, iam </h2>
                            <h2 data-aos="fade-right">Sudhanshu.</h2>
                            <h5>Software Engineer.</h5>
                            <p>
                                Aenean congue vitae mauris sed tristique. Mauris quis nulla at sapien blandit.
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit.
                            </p>
                            <ul data-aos="slide-up">
                                <li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Know More</a></li>
                                <li><a href="#" class="scroll w3l_contact"><i class="fa fa-download" aria-hidden="true"></i> Download CV</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="thim-click-to-bottom">
                        <a href="#about" class="scroll">
                            <i class="fa fa-arrows-v" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner -->
        <!---728x90--->
      

        @RenderBody()
       
        <!-- copyright -->
        <div class="copyright-agile">
            <div class="container">
                <h4> My Profile</h4>
                <p>© 2017 My Profile. All rights reserved | Design by <a href="http://w3layouts.com/">sudhanshu</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- copyright -->
        <!-- js -->
        @*<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>*@
        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <!-- for bootstrap working -->
        @*<script src="js/bootstrap.js"></script>*@
        <script src="~/Scripts/bootstrap.js"></script>
        <!-- //for bootstrap working -->
        <!-- //js -->
        <!-- Gallery-Tab-JavaScript -->
        @*<script src="js/cbpFWTabs.js"></script>*@
        <script src="~/Scripts/cbpFWTabs.js"></script>
        <script>
				(function() {
					[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
						new CBPFWTabs( el );
					});
				})();
        </script>
        <!-- //Gallery-Tab-JavaScript -->
        <!-- Swipe-Box-JavaScript -->
        @*<script src="js/jquery.swipebox.min.js"></script>*@
        <script src="~/Scripts/jquery.swipebox.min.js"></script>
        <script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
        </script>
        <!-- //Swipe-Box-JavaScript -->
        <!-- Scrolling Nav JavaScript -->
        @*<script src="js/scrolling-nav.js"></script>*@
        <script src="~/Scripts/scrolling-nav.js"></script>
        <!-- //fixed-scroll-nav-js -->

        @*<script src="js/index.js"></script>*@<!-- skills bars JS FILE-->
        <script src="~/Scripts/index.js"></script>
        <!-- animation effects-js files-->


        @*<script src="js/aos.js"></script>*@ <!-- //animation effects-js-->
        <script src="~/Scripts/aos.js"></script>
        <script src="~/Scripts/aos1.js"></script>
        @*<script src="js/aos1.js"></script>*@<!-- //animation effects-js-->
        <!-- animation effects-js files-->
        <!-- //here starts scrolling icon -->
        @*<script src="js/SmoothScroll.min.js"></script>*@
        <script src="~/Scripts/SmoothScroll.min.js"></script>
        <script src="~/Scripts/move-top.js"></script>
        @*<script type="text/javascript" src="js/move-top.js"></script>*@
        <script src="~/Scripts/easing.js"></script>
        @*<script type="text/javascript" src="js/easing.js"></script>*@
        <!-- here stars scrolling script -->
        <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
        </script>
        <!-- //here ends scrolling script -->
        <!-- //here ends scrolling icon -->
        <!-- scrolling script -->
        <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
        </script>
        <!-- //scrolling script -->

    </body>

    <!-- Mirrored from p.w3layouts.com/demos_new/template_demo/01-07-2017/my_design-demo_Free/528613908/web/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Aug 2017 15:45:07 GMT -->
</html>